<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head></head>
<body>
<div class="container-fluid">
    <div class="row">
        <div class="col-12 text-center">
            <h3 >Hello, <span th:text="${userName}"></span></h3>
            <p>To change the password please follow this link.</p>
            <a th:href="${message}" th:text="${message}"></a>
            <hr>
            <p>With best regards SmartParking support team.</p>
        </div>
    </div>
</div>

</body>
</html>