<div class="container-fluid" *ngIf="!parking" class="text-center">
    <div class="row mx-auto mt-3 center-block">
      <div class="col-6 mx-auto my-auto text-center">
          <mat-spinner mode="indeterminate" style="margin-left: 35%;"></mat-spinner>
      </div>
    </div>
  </div>
<div class="container-fluid" *ngIf="parking && configureType">

    <mat-card class="card offset-sm-1 col-sm-10 offset-md-1 col-md-10 offset-lg-1 col-lg-10">
        <mat-card-header>
            <div *ngIf="configureType.text === 'edit'">
                <legend>Edit parking</legend>
            </div>
            <div *ngIf="configureType.text === 'add'">
                <legend>Add parking</legend>
            </div>
        </mat-card-header>
        <mat-card-content>

            <form class="formstyle"
                  [formGroup]="parkingConfigureForm" (ngSubmit)="saveParking()">

                <mat-accordion class="parking-configure-headers-align">

                    <mat-expansion-panel [expanded]="step === 0" (opened)="setStep(0)" hideToggle="true">
                        <mat-expansion-panel-header>
                            <mat-panel-title>
                                Address
                            </mat-panel-title>
                            <mat-panel-description>
                                <span *ngIf="!parking.city && !parking.street && !parking.building">
                                    Type city, street and building
                                </span>
                                <span *ngIf="parking.city || parking.street || parking.building">
                                    {{parking.city}}, {{parking.street}} street, {{parking.building}}
                                </span>
                            </mat-panel-description>
                            <mat-icon>store</mat-icon>
                        </mat-expansion-panel-header>
                        <mat-form-field>
                            <input matInput [(ngModel)]="parking.city" placeholder="City"
                                   type="text"
                                   formControlName="city"
                                   required>
                        </mat-form-field>
                        <mat-form-field>
                            <input matInput [(ngModel)]="parking.street" placeholder="Street"
                                   type="text"
                                   formControlName="street"
                                   required>
                        </mat-form-field>
                        <mat-form-field>
                            <input matInput [(ngModel)]="parking.building" placeholder="Building number"
                                   type="text"
                                   formControlName="building"
                                   required>
                        </mat-form-field>
                        <mat-action-row>
                            <button mat-button type="button" color="warn" (click)="resetAddress()">Reset</button>
                            <div class="full-width"></div>
                            <button mat-button type="button" color="primary" (click)="nextStep()">Next</button>
                        </mat-action-row>
                    </mat-expansion-panel>

                    <mat-expansion-panel [expanded]="step === 1" (opened)="setStep(1)" hideToggle="true">
                        <mat-expansion-panel-header>
                            <mat-panel-title>
                                Location
                            </mat-panel-title>
                            <mat-panel-description>
                        <span *ngIf="!parking.latitude && !parking.longitude">
                            Type latitude and longitude
                        </span>
                                <span *ngIf="parking.latitude || parking.longitude">
                            {{parking.latitude}}, {{parking.longitude}}
                        </span>
                            </mat-panel-description>
                            <mat-icon>place</mat-icon>
                        </mat-expansion-panel-header>
                        <mat-form-field>
                            <input matInput [(ngModel)]="parking.latitude" placeholder="Location latitude"
                                   type="number"
                                   formControlName="latitude"
                                   required>
                        </mat-form-field>
                        <mat-form-field>
                            <input matInput [(ngModel)]="parking.longitude" placeholder="Location longitude"
                                   type="number"
                                   formControlName="longitude"
                                   required>
                        </mat-form-field>
                        <button mat-raised-button type="button" color="primary"
                                [disabled]="parking.latitude === null || parking.longitude === null"
                                (click)="showOnMap()">Show on map
                        </button>
                        <mat-action-row>
                            <button mat-button type="button" color="warn" (click)="resetLocation()">Reset</button>
                            <div class="full-width"></div>
                            <button mat-button type="button" color="warn" (click)="prevStep()">Previous</button>
                            <button mat-button type="button" color="primary" (click)="nextStep()">Next</button>
                        </mat-action-row>
                    </mat-expansion-panel>

                    <mat-expansion-panel [expanded]="step === 2" (opened)="setStep(2)" hideToggle="true">
                        <mat-expansion-panel-header>
                            <mat-panel-title>
                                Price
                            </mat-panel-title>
                            <mat-panel-description>
                        <span *ngIf="!parking.price">
                            Type price
                        </span>
                                <span *ngIf="parking.price">
                            {{parking.price}}
                        </span>
                            </mat-panel-description>
                            <mat-icon>attach_money</mat-icon>
                        </mat-expansion-panel-header>
                        <mat-form-field>
                            <input matInput [(ngModel)]="parking.price" placeholder="Price"
                                   type="number"
                                   formControlName="price"
                                   required>
                        </mat-form-field>
                        <mat-action-row>
                            <button mat-button type="button" color="warn" (click)="resetPrice()">Reset</button>
                            <div class="full-width"></div>
                            <button mat-button type="button" color="warn" (click)="prevStep()">Previous</button>
                            <button mat-button type="button" color="primary" (click)="nextStep()">Next</button>
                        </mat-action-row>
                    </mat-expansion-panel>

                    <mat-expansion-panel [expanded]="step === 3" (opened)="setStep(3)" hideToggle="true">
                        <mat-expansion-panel-header>
                            <mat-panel-title>
                                Token
                            </mat-panel-title>
                            <mat-panel-description>
                                <span *ngIf="!parking.token">
                                    Generate token
                                </span>
                                <span *ngIf="parking.token">
                                    {{parking.token}}
                                </span>
                            </mat-panel-description>
                            <mat-icon>settings_remote</mat-icon>
                        </mat-expansion-panel-header>
                        <mat-form-field class="tokenField">
                            <textarea matInput matTextareaAutosize
                                      [(ngModel)]="parking.token" placeholder="Token"
                                      formControlName="token"
                                      readonly></textarea>
                            <mat-hint align="start">You can not edit this</mat-hint>
                        </mat-form-field>
                        <button mat-raised-button type="button" color="primary"
                                (click)="generateToken()">Generate token
                        </button>
                        <mat-action-row>
                            <button mat-button type="button" color="warn" (click)="resetToken()">Reset</button>
                            <div class="full-width"></div>
                            <button mat-button type="button" color="warn" (click)="prevStep()">Previous</button>
                            <button mat-button type="button" color="primary" (click)="nextStep()">Next</button>
                        </mat-action-row>
                    </mat-expansion-panel>

                    <div *ngIf="configureType.text === 'edit'">
                        <mat-expansion-panel [expanded]="step === 4" (opened)="setStep(4)" hideToggle="true">
                            <mat-expansion-panel-header>
                                <mat-panel-title>
                                    Other
                                </mat-panel-title>
                                <mat-panel-description>
                                    Information about provider, spots count
                                </mat-panel-description>
                                <mat-icon>info_outline</mat-icon>
                            </mat-expansion-panel-header>
                            <mat-form-field>
                                <input matInput [(ngModel)]="parking.providerName" placeholder="Provider"
                                       type="text"
                                       formControlName="providerName"
                                       readonly>
                            </mat-form-field>
                            <mat-form-field>
                                <input matInput [(ngModel)]="parking.favoritesCount" placeholder="Favorites count"
                                       type="number"
                                       formControlName="favoritesCount"
                                       readonly>
                            </mat-form-field>
                            <mat-form-field>
                                <input matInput [(ngModel)]="parking.spotsCount" placeholder="Spots count"
                                       type="number"
                                       formControlName="spotsCount"
                                       readonly>
                            </mat-form-field>
                            <mat-action-row>
                                <button mat-button type="button" color="warn" (click)="prevStep()">Previous</button>
                                <button mat-button type="button" color="primary" (click)="nextStep()">End</button>
                            </mat-action-row>
                        </mat-expansion-panel>
                    </div>
                </mat-accordion>

                <!--<div class="row submit">-->
                <button class="submit-button" mat-raised-button type="submit" color="accent"
                        [disabled]="!parkingConfigureForm.valid">
                    Submit
                    <mat-icon aria-label="Send and save changes">send</mat-icon>
                </button>
                <!--</div>-->
            </form>

        </mat-card-content>
    </mat-card>
</div>
