<div>
    <br/>
    <mat-card class="card offset-sm-1 col-sm-10 offset-md-1 col-md-10 offset-lg-1 col-lg-10">
        <mat-card-header>
            <div style="min-width: 70%;">
                <div>
                    <img src="data:image/JPEG;base64,{{client.image}}" style="width: 200px;">
                    <mat-card-title><span>ID:</span> {{client.id}}
                    </mat-card-title>
                    <mat-card-title id="role"><span>Role:</span> {{client.role}}
                    </mat-card-title>
                    <mat-card-title><span>Client name:</span> {{client.firstName}} {{client.lastName}}
                    </mat-card-title>
                    <mat-card-title><span>Email:</span> {{client.email}}</mat-card-title>
                    <mat-card-title *ngIf="client.favoritesNames.length!=0">
                        <span>Favorites parkings: </span>
                        <span *ngFor="let favoriteName of client.favoritesNames">{{favoriteName}}, </span>
                    </mat-card-title>
                </div>
            </div>
            <div style="width: 100%"></div>
        </mat-card-header>

        <mat-card-actions align="right">
            <button mat-button (click)="goToProfileEdit()" color="warn">Go to edit form</button>
        </mat-card-actions>
    </mat-card>
</div>





