<h1>{{ title }}</h1>

<!-- this creates a google map on the page with the given lat/lng from -->
<!-- the component as the initial center of the map: -->

<div class="text-white">
    <span>Longitude: {{lat}}</span>
    <span>Longitude: {{lng}}</span>
</div>
<button (click)="findMe()">Refresh</button>
<div class="offset-2 col-md-8">
    <agm-map [latitude]="lat" [longitude]="lng">
        <agm-marker [latitude]="lat" [longitude]="lng"></agm-marker>
       <!-- <span *ngFor="let parking of parkings">
            <agm-marker [latitude]="parking.latitude" [longitude]="parking.longitude"></agm-marker>
        </span>-->

    </agm-map>
</div>