.example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
    margin-top: 50px;
}
.container-fluid {
    margin-top: 100px;
}


.example-full-width {
    width: 100%;
}
.btn-success {
    color: darkgrey;
    background-color: #6610f2;;
    border-color: darkgrey;
}

.btn-success:hover {
    color: #fff;
    background-color: #6610f2;;
    border-color: #1e7e34;
}

.btn-success:focus, .btn-success.focus {
    box-shadow: 0 0 0 0.2rem rgba(40, 167, 69, 0.5);
}
.radioButtondemoBasicUsage body {
    padding: 20px; }

.radioButtondemoBasicUsage hr {
    margin-left: -20px;
    opacity: 0.3; }

.radioButtondemoBasicUsage md-radio-group {
    width: 150px; }

.radioButtondemoBasicUsage p:last-child {
    padding-bottom: 50px; }

.radioButtondemoBasicUsage [ng-controller] {
    padding: 0 20px; }

.radioButtondemoBasicUsage .radioValue {
    margin-left: 5px;
    color: #0f9d58;
    font-weight: bold;
    padding: 5px; }

.radioButtondemoBasicUsage md-icon {
    margin: 0 20px 20px;
    width: 128px;
    height: 128px; }

.radioButtondemoBasicUsage .ipsum {
    color: saddlebrown;
    font-size: 0.9em; }
